.container {

    max-width: 400px;
    background: rgb(43, 0, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

body {
    background-color: rgb(43, 0, 255)
}

#errorMessage {
    
    color: red;
    font-size: 14px;
    margin-top: 10px;
}